<h1>
  Convert :first_symbol
</h1>

<p>
  Go
    <a href="/forex">back</a>.
</p>

<ul>
  <% @array_of_symbols.each do |a_symbol| %>
    <li>
      <a href="/forex/:first_symbol<%= a_symbol %>">
        Convert 1 first_symbol to <%= a_symbol %> to...
      </a>
    </li>
  <% end %>
</ul>
